# Aceptando cambios en la documentación solo para .tex, pdfs e imagenes
doc/*
doc/tex/*.aux
doc/tex/*.log
doc/tex/*.out
doc/tex/*.toc
doc/img/*:Zone*

!doc/*.pdf
!doc/*.tex
!doc/tex/
!doc/tex/*.tex
!doc/img/
!doc/img/*.png
!doc/img/*.pdf

# Ignorar todo en grammar menos los .g4
src/grammar/*
!src/grammar/*.g4

# Rechazo de los archivos que genera CMake y tests
build/*
Testing/*

# Rechazo de los ficheros autogenerados por Doxygen
doc/doxygen_es
doc/doxygen_en
